<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/cart-page.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet" />
</head>

<body onload="sub_total()">
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/home" style="font-size: 40px;font-weight: 900;color: #fff;width: 100%;">NutKart </a>
                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products2">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/user-page">Account</a></li>
                    </ul>
                </nav>

                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <br>
    <br>


    <!-- -----cart items details----- -->
    <div clas="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>

            <% cart_items.forEach(function (items) { %>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/<%= items.img_src1 %>" />
                            <div>
                                <p>
                                    <%= items.product_name %>
                                </p>
                                <small id="product_price">Rs <%= items.product_price %></small>
                                <br />
                                <a href="/remove-from-cart/<%= items.product_name %>">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input id="count" type="number" value="1" min="1" onclick="sub_total()" /></td>
                    <td id="subtotal">Rs
                        <%= items.product_price %> /-
                    </td>

                </tr>
                <% }) %>
        </table>

        <a href="/checkout" id="sort-button1" class="sorting-button" style="color: black;">low-to-high</a>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <script>
        function sub_total() {
            let count = document.getElementById('count').value




        }
    </script>



    <!-- -----------footer--------- -->


    <footer>
        <div class="footer-row">
            <div class="footer-col">
                <!-- <img src="images/footer-logo.png" class="logo" height="130px" width="130px"> -->
                <br>
                <br>

                <a href="/home" style="font-size: 40px;font-weight: 900;color: #fff;">NutKart </a>

            </div>
            <div class="footer-col">
                <h3>Office
                    <div class="underline"><span></span></div>
                </h3>
                <p>Gyan Circle</p>
                <p>Satyavedu, Chittoor</p>
                <p>Andhra Pradesh, PIN 517616, India</p>
                <p class="email-id">NutKarT@iiits.in</p>
                <h4>+91 1234567890</h4>
            </div>
            <div class="footer-col">
                <h3>Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/user-page">Account</a></li>
                    <li><a href="/contact-page">Contact Us</a></li>
                    <li><a href="/blog-page">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Newsletter
                    <div class="underline"><span></span></div>
                </h3>
                <form class="footer-form">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="email" placeholder="Enter your email id" requireds>
                    <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>                    </button>
                </form>

                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <!--<hr class="shine">-->
        <hr class="accessory">

        <p class="copyright">NutKART © 2022 - All Rights Reserved</p>
    </footer>


</body>

</html>

<!--javascript for toggle menu-->

<script>
    let menuitems = document.getElementById("menu-items");
    menuitems.style.maxHeight = "0px";

    function menutoggle() {
        if (menuitems.style.maxHeight == "0px") {
            menuitems.style.maxHeight = "200px";
        } else {
            menuitems.style.maxHeight = "0px";
        }
    }
</script>