<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="icon" type="image/x-icon" href="/images/logo.png" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/footer.css">

</head>



<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contat-page">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <br>

    <div class="small-container">
        <div class="row row-2">
            <h2>All products</h2>
            <br />
            <br />
            <br>
            <br>
            <a href="/low-to-high" id="sort-button1" class="sorting-button" style="color: black;">low-to-high</a>
            <a href="/high-to-low" id="sort-button2" class="sorting-button" style="color: black;">high-to-low</a>

        </div>
        <div class="row">
            <div class="col-4">
                <!-- <a href="/productdetail/granola-mix"> <img src="images/granola-mix.jpg" /> </a> -->
                <a href="/productdetail/<%= products[0].product_name %>"> <img src="<%= imgsrc[0].img_src1 %>" /> </a>
                <h4>
                    <%= products[0].product_name %>
                </h4>
                <p>
                    Rs
                    <%= products[0].price  %>/-
                </p>
            </div>
            <div class="col-4">
                <!-- <a href="/productdetail/happilo-cashew"><img src="images/happilo-cashew.jpg" /></a> -->
                <a href="/productdetail/<%= products[1].product_name %>"><img src="<%= imgsrc[1].img_src1 %>" /></a>
                <h4>
                    <%= products[1].product_name %>
                </h4>
                <p>
                    Rs
                    <%= products[1].price  %>/-
                </p>
            </div>

            <div class="col-4">
                <a href="/productdetail/<%= products[2].product_name %>"><img src="<%= imgsrc[2].img_src1 %>" alt="" /></a>
                <h4>
                    <%= products[2].product_name %>
                </h4>
                <p>
                    Rs
                    <%= products[2].price  %>/-
                </p>
            </div>
            <div class="col-4">
                <a href="/productdetail/<%= products[3].product_name %>"><img src="<%= imgsrc[3].img_src1 %>" alt="" /></a>
                <h4>
                    <%= products[3].product_name %>
                </h4>
                <p>
                    Rs
                    <%= products[3].price  %>/-
                </p>
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <a href="/productdetail/happilo-pista2"> <img src="images/happilo-pista2.jpg" alt="" /></a>

                <h4>Happilo Rasin</h4>
                <p>Rs. 380/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nutty-mixedberries"><img src="images/nutty-mixedberries.jpg" height="250px" alt="" /></a>

                <h4>Nutty Mixedberries</h4>
                <p>Rs. 400/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nutty-sports"><img src="images/nutty-sports.jpg" alt="" /></a>
                <h4>Nutty Sports</h4>
                <p>Rs. 420/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/pista"><img src="images/pista.png" alt="" /></a>

                <h4>Pistachio</h4>
                <p>Rs. 350/-</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="/productdetail/nuts-almond"><img src="images/nuts-almond.png" alt="" /></a>
                <h4>Almonds</h4>
                <p>Rs. 279/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nuts-almond"><img src="images/nutty-mixedberries3.jpg" alt="" /></a>

                <h4>Nutty Mixedberries Small</h4>
                <p>Rs. 200/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/happilo-pista2"><img src="images/happilo-pista2.jpg" alt="" /></a>

                <h4>Happilo Pista Small</h4>
                <p>Rs. 150/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nutty-sports3"><img src="images/nutty-sports3.jpg" alt="" /></a>
                <h4>Nutty Sports Small</h4>
                <p>Rs. 180/-</p>
            </div>
        </div>
    </div>

    <!--javascript for toggle menu-->

    <script>
        let menuitems = document.getElementById("menu-items");
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }
    </script>

    <!-- -----------footer--------- -->
    <footer>
        <div class="footer-row">
            <div class="footer-col">
                <!-- <img src="images/footer-logo.png" class="logo" height="130px" width="130px"> -->
                <br>
                <br>

                <a href="/" style="font-size: 40px;font-weight: 900;color: #fff;">NutKart </a>

            </div>
            <div class="footer-col">
                <h3>Office
                    <div class="underline"><span></span></div>
                </h3>
                <p>Gyan Circle</p>
                <p>Satyavedu, Chittoor</p>
                <p>Andhra Pradesh, PIN 517616, India</p>
                <p class="email-id">NutKarT@iiits.in</p>
                <h4>+91 1234567890</h4>
            </div>
            <div class="footer-col">
                <h3>Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/contact-page">Contact Us</a></li>
                    <li><a href="/blog-page">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Newsletter
                    <div class="underline"><span></span></div>
                </h3>
                <form class="footer-form">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="email" placeholder="Enter your email id" requireds>
                    <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>                    </button>
                </form>

                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <!--<hr class="shine">-->
        <hr class="accessory">

        <p class="copyright">NutKART © 2022 - All Rights Reserved</p>
    </footer>
</body>

</html>